* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

nav {
	padding: 10px 3px;
}

.icon-nav {
  width: 34px;
	height: 34px;
	padding: 1px;
  object-fit: contain;
}

.icon-list {
  width: 28px;
	height: 28px;
  object-fit: contain;
}

.platanitoscom-logotipo {
  width: 132px;
  height: 32px;
  object-fit: contain;
}

.h3 {
  width: 101px;
  height: 19px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
	color: #343434;
}

.h4 {
  width: 145px;
  height: 18px;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
	color: #7e7e7e;
}

.span {
  width: 64px;
  height: 17px;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
	color: #353535;
	margin: 0;
}

.des-span {
	width: 110px;
  height: 14px;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  text-align: right;
  color: #7e7e7e;
}


.price {
	width: 79px;
  height: 24px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #55b849;
}

.item {
	width: 100%;
}

.Rectangle-9 {
	border: solid 2px #55b849;
}

.Rectangle-10 {
	border: solid 1px #d2d2d2;
}

.boton {
	width: 100%;
	height: 44px;
	border-radius: 2px;
	background-color: #ffffff;
	margin-bottom: 1.5%;
}

.Rectangle-11 {
	width: 100%;
	height: 50px;
	border-radius: 2px;
	background-color: #55b849;
	color: #fff;
}

.Rectangle-12 {
	background-color: #4a90e2;
	color: #fff;
}

.favoritos {
	margin-top: 5%;
	margin-bottom: 5%;
}

.favoritos p {
	/*font-family: OpenSans;*/
	font-weight: 600;
	font-size: 15px;
	color: #ecba16;
	text-align: center;
}

.cont-icon {
	margin-left: 5%;
}

.cont-icon {
	padding-right: 0px;
}

.item-ico {}

.SubirFoto {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	line-height: normal;
	font-size: 100%;
	margin: 0;
}

.Tomar-foto {
	height: 24px;
	font-family: OpenSans;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	display: inline-block;
	color: #4a4a4a;
	padding-left: 32px;
}

.camera {
	color: #4a4a4a;
	margin-left: 20px;
}