.logo {
    width: 220px;
    height: 100px;
}
header {
    outline: 1px solid black;
    padding: 2%;
    height: 120px;;
}
h3{
    color: #55b849;
}
.zapatilla {
    width: 100%;
    padding: 8%;
}
.item {
    width: 100%;
}
.Rectangle-9 {
    border: solid 2px #55b849;
  }
  .Rectangle-10 {
    border: solid 1px #d2d2d2;
  }
.boton {
    width: 100%;
    height: 44px;
    border-radius: 2px;
    background-color: #ffffff; 
    margin-bottom: 1.5%;
  }
  .Rectangle-11 {
    width: 100%;
    height: 50px;
    border-radius: 2px;
    background-color: #55b849;
}
.Rectangle-12 {
    background-color: #4a90e2;
}


