body {
  font-family: Helvetica;
  font-size: 13px;
}

h2 {
  font-size: 24px;
  margin: 0;
  padding-bottom: 20px;
}

form {
  margin: 0 20px;
  padding: 20px 15px;
}

.avatar-platanitos {
  padding-bottom: 40px;
}

.btn {
  font-size: 13px;
}

.btn-success {
  background-color: #58b849;
}

.logo {
  width: 184px;
  height: 44px;
}

.nav-login div {
  box-sizing: border-box;
  margin: 24px 0px;
}

.text-green {
  color: #58b849;
}